In [1]:
pip install pymongo

Collecting pymongoNote: you may need to restart the kernel to use updated packages.
  Using cached pymongo-4.3.3-cp39-cp39-win_amd64.whl (382 kB)
Collecting dnspython<3.0.0,>=1.16.0
  Using cached dnspython-2.3.0-py3-none-any.whl (283 kB)
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3

In [2]:
import pymongo
pymongo.version

'4.3.3'

In [3]:
#Create a database called "mydatabase":
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["mydatabase"]

In [4]:
myclient.list_database_names()

['admin', 'config', 'local']

In [5]:
dblist = myclient.list_database_names()
if "mydatabase" in dblist:
    print("The database exists.")

In [6]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]

mycol = mydb["customers"]

In [7]:
print(mydb.list_collection_names())

[]

In [8]:
collist = mydb.list_collection_names()
if "customers" in collist:
    print("The collection exists.")

In [9]:
#Insert Into Collection
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mydict = { "name": "John", "address": "Highway 37" }

x = mycol.insert_one(mydict)

In [10]:
mydict = { "name": "Peter", "address": "Lowstreet 27" }

x = mycol.insert_one(mydict)

print(x.inserted_id)

648ef11ad0b39d33fba38a44

In [12]:
#Insert Multiple Documents
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[ObjectId('648ef174d0b39d33fba38a53'), ObjectId('648ef174d0b39d33fba38a54'), ObjectId('648ef174d0b39d33fba38a55'), ObjectId('648ef174d0b39d33fba38a56'), ObjectId('648ef174d0b39d33fba38a57'), ObjectId('648ef174d0b39d33fba38a58'), ObjectId('648ef174d0b39d33fba38a59'), ObjectId('648ef174d0b39d33fba38a5a'), ObjectId('648ef174d0b39d33fba38a5b'), ObjectId('648ef175d0b39d33fba38a5c'), ObjectId('648ef175d0b39d33fba38a5d'), ObjectId('648ef175d0b39d33fba38a5e')]

In [13]:
#Insert Multiple Documents, with Specified IDs
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [14]:
#Find the first document in the customers collection:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

x = mycol.find_one()

print(x)

{'_id': ObjectId('648ef10ad0b39d33fba38a43'), 'name': 'John', 'address': 'Highway 37'}

In [17]:
#Return all documents in the "customers" collection, and print each document:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

for x in mycol.find():
    print(x)

{'_id': ObjectId('648ef10ad0b39d33fba38a43'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('648ef11ad0b39d33fba38a44'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('648ef15fd0b39d33fba38a46'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('648ef15fd0b39d33fba38a47'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('648ef15fd0b39d33fba38a48'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('648ef15fd0b39d33fba38a49'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('648ef15fd0b39d33fba38a4a'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('648ef15fd0b39d33fba38a4b'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('648ef15fd0b39d33fba38a4c'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('648ef15fd0b39d33fba38a4d'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('648ef15fd0b39d33fba38a4e'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('648ef15fd0b39d33fba38a4f'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('648ef15fd0b39d33fba38a50'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('648ef15fd0b39d33fba38a51'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('648ef174d0b39d33fba38a53'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('648ef174d0b39d33fba38a54'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('648ef174d0b39d33fba38a55'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('648ef174d0b39d33fba38a56'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('648ef174d0b39d33fba38a57'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('648ef174d0b39d33fba38a58'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('648ef174d0b39d33fba38a59'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('648ef174d0b39d33fba38a5a'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('648ef174d0b39d33fba38a5b'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('648ef175d0b39d33fba38a5c'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('648ef175d0b39d33fba38a5d'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('648ef175d0b39d33fba38a5e'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [18]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
    print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

In [19]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

for x in mycol.find({},{ "address": 0 }):
    print(x)

{'_id': ObjectId('648ef10ad0b39d33fba38a43'), 'name': 'John'}
{'_id': ObjectId('648ef11ad0b39d33fba38a44'), 'name': 'Peter'}
{'_id': ObjectId('648ef15fd0b39d33fba38a46'), 'name': 'Amy'}
{'_id': ObjectId('648ef15fd0b39d33fba38a47'), 'name': 'Hannah'}
{'_id': ObjectId('648ef15fd0b39d33fba38a48'), 'name': 'Michael'}
{'_id': ObjectId('648ef15fd0b39d33fba38a49'), 'name': 'Sandy'}
{'_id': ObjectId('648ef15fd0b39d33fba38a4a'), 'name': 'Betty'}
{'_id': ObjectId('648ef15fd0b39d33fba38a4b'), 'name': 'Richard'}
{'_id': ObjectId('648ef15fd0b39d33fba38a4c'), 'name': 'Susan'}
{'_id': ObjectId('648ef15fd0b39d33fba38a4d'), 'name': 'Vicky'}
{'_id': ObjectId('648ef15fd0b39d33fba38a4e'), 'name': 'Ben'}
{'_id': ObjectId('648ef15fd0b39d33fba38a4f'), 'name': 'William'}
{'_id': ObjectId('648ef15fd0b39d33fba38a50'), 'name': 'Chuck'}
{'_id': ObjectId('648ef15fd0b39d33fba38a51'), 'name': 'Viola'}
{'_id': ObjectId('648ef174d0b39d33fba38a53'), 'name': 'Amy'}
{'_id': ObjectId('648ef174d0b39d33fba38a54'), 'name': 'Hannah'}
{'_id': ObjectId('648ef174d0b39d33fba38a55'), 'name': 'Michael'}
{'_id': ObjectId('648ef174d0b39d33fba38a56'), 'name': 'Sandy'}
{'_id': ObjectId('648ef174d0b39d33fba38a57'), 'name': 'Betty'}
{'_id': ObjectId('648ef174d0b39d33fba38a58'), 'name': 'Richard'}
{'_id': ObjectId('648ef174d0b39d33fba38a59'), 'name': 'Susan'}
{'_id': ObjectId('648ef174d0b39d33fba38a5a'), 'name': 'Vicky'}
{'_id': ObjectId('648ef174d0b39d33fba38a5b'), 'name': 'Ben'}
{'_id': ObjectId('648ef175d0b39d33fba38a5c'), 'name': 'William'}
{'_id': ObjectId('648ef175d0b39d33fba38a5d'), 'name': 'Chuck'}
{'_id': ObjectId('648ef175d0b39d33fba38a5e'), 'name': 'Viola'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}

In [21]:
#Find document(s) with the address "Park Lane 38":
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": "Park Lane 38" }

mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('648ef15fd0b39d33fba38a4e'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('648ef174d0b39d33fba38a5b'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}

In [22]:
#Find documents where the address starts with the letter "S" or higher:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": { "$gt": "S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('648ef15fd0b39d33fba38a48'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('648ef15fd0b39d33fba38a4b'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('648ef15fd0b39d33fba38a4d'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('648ef15fd0b39d33fba38a51'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('648ef174d0b39d33fba38a55'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('648ef174d0b39d33fba38a58'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('648ef174d0b39d33fba38a5a'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('648ef175d0b39d33fba38a5e'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [23]:
#Find documents where the address starts with the letter "S":
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": { "$regex": "^S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('648ef15fd0b39d33fba38a4b'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('648ef15fd0b39d33fba38a51'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('648ef174d0b39d33fba38a58'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('648ef175d0b39d33fba38a5e'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [24]:
#Sort the result alphabetically by name:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mydoc = mycol.find().sort("name")

for x in mydoc:
    print(x)

{'_id': ObjectId('648ef15fd0b39d33fba38a46'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('648ef174d0b39d33fba38a53'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('648ef15fd0b39d33fba38a4e'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('648ef174d0b39d33fba38a5b'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('648ef15fd0b39d33fba38a4a'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('648ef174d0b39d33fba38a57'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('648ef15fd0b39d33fba38a50'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('648ef175d0b39d33fba38a5d'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('648ef15fd0b39d33fba38a47'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('648ef174d0b39d33fba38a54'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('648ef10ad0b39d33fba38a43'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('648ef15fd0b39d33fba38a48'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('648ef174d0b39d33fba38a55'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('648ef11ad0b39d33fba38a44'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('648ef15fd0b39d33fba38a4b'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('648ef174d0b39d33fba38a58'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('648ef15fd0b39d33fba38a49'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('648ef174d0b39d33fba38a56'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('648ef15fd0b39d33fba38a4c'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('648ef174d0b39d33fba38a59'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('648ef15fd0b39d33fba38a4d'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('648ef174d0b39d33fba38a5a'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('648ef15fd0b39d33fba38a51'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('648ef175d0b39d33fba38a5e'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('648ef15fd0b39d33fba38a4f'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('648ef175d0b39d33fba38a5c'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}

In [26]:
#sort name by reverse 
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mydoc = mycol.find().sort("name", -1)

for x in mydoc:
    print(x)

{'_id': ObjectId('648ef15fd0b39d33fba38a4f'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('648ef175d0b39d33fba38a5c'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('648ef15fd0b39d33fba38a51'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('648ef175d0b39d33fba38a5e'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('648ef15fd0b39d33fba38a4d'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('648ef174d0b39d33fba38a5a'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('648ef15fd0b39d33fba38a4c'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('648ef174d0b39d33fba38a59'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('648ef15fd0b39d33fba38a49'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('648ef174d0b39d33fba38a56'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('648ef15fd0b39d33fba38a4b'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('648ef174d0b39d33fba38a58'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('648ef11ad0b39d33fba38a44'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('648ef15fd0b39d33fba38a48'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('648ef174d0b39d33fba38a55'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('648ef10ad0b39d33fba38a43'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('648ef15fd0b39d33fba38a47'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('648ef174d0b39d33fba38a54'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('648ef15fd0b39d33fba38a50'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('648ef175d0b39d33fba38a5d'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('648ef15fd0b39d33fba38a4a'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('648ef174d0b39d33fba38a57'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('648ef15fd0b39d33fba38a4e'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('648ef174d0b39d33fba38a5b'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('648ef15fd0b39d33fba38a46'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('648ef174d0b39d33fba38a53'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}

In [27]:
#Change the address from "Valley 345" to "Canyon 123":
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }

mycol.update_one(myquery, newvalues)

#print "customers" after the update:
for x in mycol.find():
    print(x)

{'_id': ObjectId('648ef10ad0b39d33fba38a43'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('648ef11ad0b39d33fba38a44'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('648ef15fd0b39d33fba38a46'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('648ef15fd0b39d33fba38a47'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('648ef15fd0b39d33fba38a48'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('648ef15fd0b39d33fba38a49'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('648ef15fd0b39d33fba38a4a'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('648ef15fd0b39d33fba38a4b'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('648ef15fd0b39d33fba38a4c'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('648ef15fd0b39d33fba38a4d'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('648ef15fd0b39d33fba38a4e'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('648ef15fd0b39d33fba38a4f'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('648ef15fd0b39d33fba38a50'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('648ef15fd0b39d33fba38a51'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('648ef174d0b39d33fba38a53'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('648ef174d0b39d33fba38a54'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('648ef174d0b39d33fba38a55'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('648ef174d0b39d33fba38a56'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('648ef174d0b39d33fba38a57'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('648ef174d0b39d33fba38a58'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('648ef174d0b39d33fba38a59'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('648ef174d0b39d33fba38a5a'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('648ef174d0b39d33fba38a5b'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('648ef175d0b39d33fba38a5c'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('648ef175d0b39d33fba38a5d'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('648ef175d0b39d33fba38a5e'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [28]:
#Update all documents where the address starts with the letter "S":
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": { "$regex": "^S" } }
newvalues = { "$set": { "name": "Minnie" } }

x = mycol.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")

6 documents updated.

In [29]:
#Limit the result to only return 5 documents:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myresult = mycol.find().limit(5)

#print the result:
for x in myresult:
    print(x)

{'_id': ObjectId('648ef10ad0b39d33fba38a43'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('648ef11ad0b39d33fba38a44'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('648ef15fd0b39d33fba38a46'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('648ef15fd0b39d33fba38a47'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('648ef15fd0b39d33fba38a48'), 'name': 'Michael', 'address': 'Canyon 123'}

In [30]:
#Delete the document with the address "Mountain 21":
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": "Mountain 21" }

mycol.delete_one(myquery)

In [31]:
#Delete all documents were the address starts with the letter S:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": {"$regex": "^S"} }

x = mycol.delete_many(myquery)

print(x.deleted_count, " documents deleted.")

6  documents deleted.